*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

PulseServer/pulse_config.xml

PulseServer/res/pulse_config.xml

PulseServer/pulse_config.xml.back

PulseServer/pulse_configbackup.xml

PulseServer/log.txt

PulseServer/.DS_Store

*.mov

PulseWebClient/WebContent/.DS_Store

Images/.DS_Store

Documents/.DS_Store

PulseMobileClients/PulseAndroidClient/.DS_Store

*.ap_

*.ap_

PulseMobileClients/PulseAndroidClient/.DS_Store

PulseMobileClients/PulseAndroidClient/.DS_Store

*.dex

*.ap_

Deliverables/.DS_Store

Images/.DS_Store

Images/final/.DS_Store
